<div class="header">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/privacy">Privacy</a>
    <a class="nav-link" href="/contact">contact</a>
</div>
<script src="/js/elevator_init/navigation_route.js"></script>